# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Julia
5. Scala

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas(for manipulation)
2. Numpy (for statistical analysis)
3. matplot (for visualization)
4. seaborn (for visualization)
5. keras (deep learning neural network)
6. scilit-learn(machine learning)
7. Tensorflow(Deep Learning)

#### Data Science Tools
1. Python
2. Jupyter Notebook
3. Pandas
4. SQL
5. Anaconda Navigator
6. R

## Arithmetic Expression
### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives: 
- Python
- R
- Java
- Git,Github and GitLab
- Jupyter Notebook,Jupyter Lab,JupyterLite
- Scala

## Author
Pankaj Singh